.button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 100%;
    display: inline-block;
}

.radiobutton-active {
    width: 64px;
    height: 32px;
    line-height: 32px;
    color: #fff;
}

.radiobutton-inactive {
    width: 64px;
    height: 32px;
    line-height: 32px;
    color: #888;
}