.h-slider-track {
    width: 0.75em;
    height: 10em;
    margin: 1em;
    background: #888;
    border: 2px solid #000;
    border-radius: 8px;
}

.h-slider-knob {
    width: 1.5em;
    height: 2.5em;
    background: #444;
    border: 2px solid #000;
    border-radius: 8px;
    margin-left: -0.5em;
}

.h-slider-label {
    font-size: 1.5em;
    text-align: center;
}