.knob {
    border: 2px solid #000;
}

.track {
    background: #888;
    border: 2px solid #000;
    border-radius: 8px;
}

.hslider-track {
    width: 12px;
    /*FIXME: cant have height here, cant set initial value on sliders, set in js*/
    margin-left: 8px;
    margin-right: 8px;
}

.hslider-knob {
    width: 20px;
    /*FIXME: cant have height here, cant set initial value on sliders, set in js*/
    margin-left: -6px;
}