.button-class {
    background: #444;
    border-radius: 2px;
    border-color: "#000";
    text-align: center;
    color: #fff;
}

.button-class:active {
    color: #888;
}

.component {
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
}

.component-label {
    font-size: 16px;
    text-align: center;
}

.collection {
    background: #444;
}

.collection-table {
    display: inline-block;
    padding: 8px;
}

.collection-row {
    vertical-align: top;
}

.label {
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #888;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.titlerow {
    color: #fff;
    background: #888;
    margin: 0px;
    column-span: all;
    padding-left: 8px;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.close-button {
    position: absolute;
    height: 20px;
    background: rgba(0,0,0,0.0);
    right: 0px;
    border-top-right-radius: 2px;
    top: 0px;
}

.close-button:hover {
    background: rgba(255,255,255,1);
    color: #888;
}