.button-class {
    background: #444;
    border-radius: 0.25em;
    text-align: center;
}

.button {
    padding: 0.25em;
    color: #fff;
    font-size: 2em;
    display: inline-block;
}

.button-class:active {
    color: #fff;
}

.component {
    background: #fff;
    border: 2px solid #000;
    border-radius: 0.25em;
}

.component-label {
    font-size: 1.0em;
    margin-left: -0.10em;
    text-align: center;
}

.collection {
    background: #444;
}

.collection-table {
    display: inline-block;
    padding: 0.5em;
}

.collection-row {
    vertical-align: top;
}

.label {
    color: #fff;
    font-size: 1.25em;
    text-align: center;
    background: #888;
    border-radius: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.knob {
    border: 2px solid #000;
}

.track {
    background: #888;
    border: 2px solid #000;
    border-radius: 8px;
}

.radiobutton-active {
    width: 4em;
    height: 2em;
    line-height: 2em;
    color: #fff;
}

.radiobutton-inactive {
    width: 4em;
    height: 2em;
    line-height: 2em;
    color: #888;
}

.hslider-track {
    width: 0.75em;
    height: 10em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.hslider-knob {
    width: 1.25em;
    height: 2.5em;
    margin-left: -0.35em;
}
