.vkey-container {
    width: 64em;
    height: 10em;
    position: relative;
}
.vkey-key-flat {
    position: absolute;
    width: 2em;
    height: 10em;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    z-index: 0;
}

.vkey-key-flat:active {
    background: #999;
}

.vkey-key-sharp {
    position: absolute;
    width: 1.5em;
    height: 6em;
    background: #000;
    border: 1px solid #fff;
    border-radius: 0.25em;
    z-index: 1;
}

.vkey-key-sharp:active {
    background: #999;
}