.vkey-container {
    width: 1024px;
    height: 160px;
    position: relative;
}
.vkey-key-flat {
    position: absolute;
    width: 32px;
    height: 160px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 0;
}

.vkey-key-flat:active {
    background: #999;
}

.vkey-key-sharp {
    position: absolute;
    width: 24px;
    height: 96px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    z-index: 1;
}

.vkey-key-sharp:active {
    background: #999;
}