.gWidget {
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
}

.gWidgetTitle {
    color: #fff;
    background: #aaa;
    font-size: 16px;
    margin: 0px;
    column-span: all;
    padding-left: 8px;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.gWidgetCloseButton {
    position: absolute;
    color: #888;
    height: 20px;
    background: rgba(0,0,0,0.0);
    right: 0px;
    margin-right: 6px;
    top: 2px;
}
