body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title {
    font-size: 2em;
    color: #000;
}
.button {
    padding: 0.25em;
    background: #999;
    border: 2px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 2em;
    display: inline-block;
}

.button:active {
    background: #444;
}

.input-number {
    font-size: 2em;
    width: 5em;
}

.audio-scope {
    background: #444;
    width: 800px; 
    height: 50px;
    border: 2px solid #000;
    border-radius: 8px;
}

.box {
    display: inline-block;
    background: "#888";
    border: 2px solid #000;
    border-radius: 8px;
}
