.vkey-container {
    position: relative;
}

.vkey-key-flat {
    position: absolute;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 0;
}

.vkey-key-sharp {
    position: absolute;
    background: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    z-index: 1;
}
